* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.navbar {
  background-color: rgb(85 64 175);
}
.navbar-brand {
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  border: 4px solid #fff;
  padding: 5px;
}
.navbar-nav li a {
  font-size: 20px;
  font-weight: 900px;
}
.bg {
  background:
    linear-gradient(180deg, rgb(85 64 175)), url("../images/bg-hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.profile-photo {
  height: 400px;
  width: 350px;
}
.intro {
  font-size: 60px;
  color: #fff;

  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.bg-grey {
  background-color: rgb(244 243 248);
  opacity: 0.8;
}
#photo {
  width: 500px;
  height: 500px;
}
.about-content h2,
.project-section h2 {
  font-size: 48px;
  color: rgb(85 64 175);
}
.about-content h4 {
  font-weight: 900;
  line-height: 2.5rem;
}
.about-content p {
  font-size: 20px;
  line-height: 1.5rem;
}
.fa-linkedin,
.fa-arrow-circle-right {
  color: rgb(85 64 175);
}
.fa-instagram {
  font-size: 23px;
  color: rgb(85 64 175);
}
.skill-section h2,
.resume-section h2 {
  font-size: 3.75rem;
  color: rgb(85 64 175);
}
.skill-card {
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.skill-card:hover {
  background-color: rgb(85 64 175);
  color: white;
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.skill-card:hover i {
  color: white;
}
.project-section p {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.card1 img,
.card2 img {
  height: 221px;
}
.resume-section-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgb(85 64 175);
  position: relative;
}
.resume-section-item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  left: -11px;
  top: 0px;
  background-color: #fff;
  border: 2px solid rgb(85 64 175);
}
.resume-section-item .year {
  background: rgb(236, 234, 241);
  color: rgb(85 64 175);
  padding: 10px;
  display: inline-block;
}
.download-btn {
  background-color: rgb(85 64 175);
  color: #fff;
  border-radius: 21px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  text-decoration: none;
}
.download-btn:hover,
.contact-card {
  background-color: rgb(85 64 175);
  color: #fff;
}
.contact-num,
.contact-mail {
  text-decoration: none;
  color: #fff;
}
.footer {
  background-color: rgb(85 64 175);
  padding: 10px;
  color: #fff;
}
@media (min-width: 300px) and (max-width: 900px) {
  .profile-photo {
    height: 200px;
    width: 200px;
  }
  .logo-head {
    font-size: 50px;
  }
}
