* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg {
  background:
    linear-gradient(180deg, #5a4bb7 0%, #6456c6 50%, #6a5acd 100%),
    url("../images/bg-hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.profile-photo {
  height: 400px;
  width: 350px;
}
.intro {
  font-size: 60px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.bg-grey {
  background-color: rgb(244 243 248);
  opacity: 0.8;
}
#photo {
  width: 500px;
  height: 500px;
}
